.ImageListView{
	max-height: 100px;
	min-height: 100px;
}

.ImageListView::icon{
	min-width: 80px;
	min-height: 80px;
}

.ImageListView::item{
	min-height: 80px;
}

#MenuBox{
	border-style:none none solid none;
    border-radius: 0px;
    background: white;
    font-size: 14px;
}

#InfoWidget{
	background: #f3f3f3;
}

#ShapeWidget{
	background:#e1e1e1; 
	font-size: 13px;
}

QListWidget::Item{
	height: 30px;
}
