/******************************************************************************
 *                                   CommonWidget
 *****************************************************************************/
#CommonCentralWidget {
	background: #f7f7f7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/******************************************************************************
 *                                   MesaaBox
 *****************************************************************************/
#InfoLabel {
	min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-width: 0;	
	border-image: url(image/info.png);
}
 
#WarningLabel {
	min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-width: 0;	
	border-image: url(image/warn.png);
}

#MessageLabel {
	font-size: 25px;
	qproperty-alignment: AlignCenter;
}

#MessBtnWidget {
	background: white;
	max-height: 50px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#MessBtnWidget QPushButton{
	min-width: 57;
	min-height: 35;
}

#MessCloseButton {
	color: white;
	background-color: #39a3ff;
}

#YesButton{
	color: white;
	background-color: #39a3ff;
}

#NoButton{
	background-color:rgb(192,192,192);
	color: white;
}

/******************************************************************************
 *                                   EditComboBox
 *****************************************************************************/
 
#deleteButton{
	width:  20px;
    height: 20px;
    min-width:  20px;
    max-width:  20px;
    min-height: 20px;
    max-height: 20px;
    border-width: 0;
	border-image: url(image/delete.png);
}

#EditComboBox{
	height: 35px;
	font-size: 26px;
	border-style: none none solid none;
}

#EditComboBox QAbstractItemView::item{
	min-height: 35px;
}

#UsernameLabel{
	font-size:26px;
}

#UsernameLabel:hover{
	color: white;
}
