/*
#AvatarLabel{
    min-width:  164px;
    max-width:  164px;
    min-height: 164px;
    max-height: 164px;
	border-width: 0 0 0 0;
	border-image: url(image/login.png)
}
*/

#PromptLabel{
	border: 2px solid gray;
    min-height: 14px;
    max-height: 14px;
	font-size: 14px;
	color: red;
    border-width: 0 0 0 0;
}

#LoginWidget QLineEdit{
    min-width: 160px;
    min-height: 30px;
    font-size: 14px;
    border-radius: 4px;
}

#LoginButton {
    height: 30px;
	background-color: #39a3ff;
}

#FlatButton {
	border: 0;
	min-height: 20px;
}

#FlatButton:hover{
	background-color: transparent;
	color: #39a3ff;
}

#LoginWidget QCheckBox::indicator{
    subcontrol-origin: border;
    subcontrol-position: left center;

    height: 15px;
	width: 15px;
    border-width: 0 0 0 0;
}
	