#SendBox {
    min-height: 120px;
}

#SetBox {
    min-width: 220px;
    max-width: 220px;
}

#SendButton {
	min-width: 80px;
	min-height: 80px;
	color: white;
	background-color: #39a3ff;
}

#OpenButton{
	color: white;
	background-color: #39a3ff;
	qproperty-icon: url(image/run.png)off, url(image/running.png)on;
}

#OpenButton:hover{
	background-color: #0066ff;
}